// Variables
$font-default: Arial, Helvetica, sans-serif;
$base-font-size: 20px;
$bg-color-light: rgb(228, 226, 172);
$bg-color-dark: rgb(225, 220, 128);
$primary-bg-color: aqua;
$footer-height: 10vh;

@mixin flex-center($wrap: wrap) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: $wrap;
}

* {
  margin: 0;
  padding: 0;
  font-size: $base-font-size;
  font-family: $font-default;
  text-decoration: none;
  list-style-type: none;
}

.header {
  background-color: $primary-bg-color;
  @include flex-center();
  min-height: 20vh;
  
  a {
    img {
      width: 80px;
    }
  }
  
  nav {
    ul {
      display: flex;
      width: 500px;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

#main-index {
  background-color: $bg-color-light;
  
  div {
    @include flex-center();
    justify-content: space-evenly;
    
    p {
      width: 680px;
      padding-bottom: 30px;
      font-weight: bolder;
    }
  }
}

.banner-principal, .banner {
  @include flex-center();
}

#main-contacto {
  background-color: $bg-color-dark;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

#equipo {
  background-color: $bg-color-light;
}

.main-instalaciones {
  background-color: $bg-color-dark;
}

.falso-body {
  background-color: #e5e5e5;
  min-height: 100vh;
}

.footer {
  min-height: $footer-height;
  background-color: $primary-bg-color;
  align-items: center;
}


