/*********************************************************
**********Inicializacion de variables **************************
*********************************************************/
/*********************************************************
**********Funcion Mixin **************************
*********************************************************/
/*********************************************************
**********Reseteo **************************
*********************************************************/
* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style-type: none;
}

/*************************************************
********Encabezado************************
************************************************/
.header {
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 20vh;
}
.header a img {
  width: 80px;
}
.header nav ul {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*************************************************
********Pagina index.html************************
************************************************/
#main-index {
  background-color: rgb(228, 226, 172);
}
#main-index section article div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#main-index section article div .miClaseImagen {
  width: 350px;
  height: 350px;
}
#main-index section article div p {
  width: 650px;
  padding-bottom: 30px;
  font-weight: bolder;
}

/* .banner-principal, .banner {
    @include flex-center();
  }*/
/*.banner {
  .tipoLetra {
    font-family: $font-default2;
  }

  p {
    font-weight: bolder;
    width: 780px;
  }

  img {
    width: 550px;
  }
}*/
/* .banner {
  h2 {
    padding: 10px;
    padding-bottom: 30px;
    @include flex-center(space-evenly);
  }
  div {
    @include flex-center();
    p {
      width: 350px;
      font-weight: bolder;
    }
    img {
      align-items: center;
     // padding-bottom: 30px;
     // padding-left: 30px;
      padding: 20px;
      width: 550px;
    }
  }*/
/*************************************************
********Pagina contactenos.html************************
************************************************/
#main-contacto {
  background-color: #2c3e50;
  padding: 20px 0;
}
#main-contacto h1 {
  font-family: "Arial", sans-serif;
  font-size: 50px;
  text-align: center;
  margin: 0 0 20px;
}
#main-contacto form {
  max-width: 600px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  #main-contacto form {
    padding: 0 15px;
  }
}

/*************************************************
******Fin de pagina contactenos.html************************
************************************************/
/*********************************************************
**********Pagina Equipo **************************
*********************************************************/
#equipo {
  background-color: rgb(228, 226, 172);
}
#equipo div .instalaciones {
  justify-content: space-evenly;
}

/*********************************************************
**********Fin  pagina Equipo**************************
*********************************************************/
/*********************************************************
**********Pagina Instalaciones **************************
*********************************************************/
#main-instalaciones {
  background-color: rgb(228, 226, 172);
  padding: 20px 0;
}
#main-instalaciones .miClaseImagen {
  height: 400px;
  width: 500px;
  display: block;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 15px;
  padding-bottom: 15px;
}
#main-instalaciones .brArtificial {
  padding-top: 40px;
  max-width: 100%;
  font-weight: bolder;
}

/*.brArtificial {
  padding-top: 40px;
  width: 400px;
  height: 400px;
  font-weight: bolder;
}

.centrando {
  justify-content: space-evenly;
}

.miClaseImagen {
  max-width: 600px;
  height: 400px;
  margin-bottom: 20px;
}*/
/*************************************************
********Fin Instalaciones************************
************************************************/
/*************************************************
***********galeria***********************
************************************************/
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin: 2rem auto;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.319);
}

.imagen1 {
  background-image: url("https://cdn.pixabay.com/photo/2017/02/20/18/03/cat-2083492_640.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
}
.imagen1:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: transform 0.3s, opacity 0.3s;
}

.imagen2 {
  background-image: url("https://cdn.pixabay.com/photo/2014/04/13/20/49/cat-323262_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
}
.imagen2:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: transform 0.3s, opacity 0.3s;
}

.imagen3 {
  background-image: url("https://cdn.pixabay.com/photo/2021/01/29/05/19/animal-5959731_640.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
}
.imagen3:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: transform 0.3s, opacity 0.3s;
}

.imagen4 {
  background-image: url("https://cdn.pixabay.com/photo/2014/11/30/14/11/cat-551554_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
}
.imagen4:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: transform 0.3s, opacity 0.3s;
}

.imagen5 {
  background-image: url("https://cdn.pixabay.com/photo/2016/12/13/05/15/puppy-1903313_640.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
}
.imagen5:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: transform 0.3s, opacity 0.3s;
}

.imagen6 {
  background-image: url("https://cdn.pixabay.com/photo/2017/09/25/13/12/puppy-2785074_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
}
.imagen6:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: transform 0.3s, opacity 0.3s;
}

.imagen7 {
  background-image: url("https://cdn.pixabay.com/photo/2019/08/25/13/34/dogs-4429513_640.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
}
.imagen7:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: transform 0.3s, opacity 0.3s;
}

.imagen8 {
  background-image: url("https://cdn.pixabay.com/photo/2016/07/15/15/55/dachshund-1519374_640.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
}
.imagen8:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: transform 0.3s, opacity 0.3s;
}

.imagen9 {
  background-image: url("https://cdn.pixabay.com/photo/2016/02/18/18/37/puppy-1207816_640.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
}
.imagen9:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: transform 0.3s, opacity 0.3s;
}

@media (max-width: 650px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*************************************************
********footer************************
************************************************/
footer {
  background-color: aqua;
  color: black;
  padding: 20px 10px;
}
footer .tamano-imagen h5 {
  border-bottom: 2px solid #FFF;
  padding-bottom: 10px;
  text-align: center;
}
footer .tamano-imagen ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
footer .tamano-imagen ul li {
  padding: 10px;
}
footer .tamano-imagen ul li a {
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
footer .tamano-imagen ul li a:hover {
  background-color: black;
  color: white;
}
footer .tamano-imagen ul li a img {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s;
}
footer .tamano-imagen ul li a img:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=main.css.map */