/*********************************************************
**********Inicializacion de variables **************************
*********************************************************/

$font-default: Arial, Helvetica, sans-serif;
$font-default2: 'Times New Roman', Times, serif;
$base-font-size: 20px;
$base-font-size2: 25px;
$primary-bg-color: aqua;
$bg-color-light: rgb(228, 226, 172);
$bg-color-dark: rgb(225, 220, 128);
$footer-height: 10vh;
$image-sizes: (
  imagen1: "https://cdn.pixabay.com/photo/2017/02/20/18/03/cat-2083492_640.jpg",
  imagen2: "https://cdn.pixabay.com/photo/2014/04/13/20/49/cat-323262_1280.jpg",
  imagen3: "https://cdn.pixabay.com/photo/2021/01/29/05/19/animal-5959731_640.jpg",
  imagen4: "https://cdn.pixabay.com/photo/2014/11/30/14/11/cat-551554_1280.jpg",
  imagen5: "https://cdn.pixabay.com/photo/2016/12/13/05/15/puppy-1903313_640.jpg",
  imagen6: "https://cdn.pixabay.com/photo/2017/09/25/13/12/puppy-2785074_1280.jpg",
  imagen7: "https://cdn.pixabay.com/photo/2019/08/25/13/34/dogs-4429513_640.jpg",
  imagen8: "https://cdn.pixabay.com/photo/2016/07/15/15/55/dachshund-1519374_640.jpg",
  imagen9: "https://cdn.pixabay.com/photo/2016/02/18/18/37/puppy-1207816_640.jpg"
);


/*********************************************************
**********Funcion Mixin **************************
*********************************************************/
@mixin flex-center($wrap: wrap) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: $wrap;
}


/*********************************************************
**********Reseteo **************************
*********************************************************/
* {
  margin: 0;
  padding: 0;
  font-size: $base-font-size;
  font-family: $font-default;
  text-decoration: none;
  list-style-type: none;
}

/*************************************************
********Encabezado************************
************************************************/

.header {
  background-color: $primary-bg-color;
  @include flex-center(wrap);

  min-height: 20vh;

  a {
    img {
      width: 80px;
    }
  }

  nav {
    ul {
      display: flex;
      width: 500px;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

/*************************************************
********Pagina index.html************************
************************************************/

#main-index {
  background-color: $bg-color-light;

  section {
    article {
      div {
        @include flex-center(wrap);

        .miClaseImagen {
          width: 350px;
          height: 350px;
        }

        p {
          width: 650px;
          padding-bottom: 30px;
          font-weight: bolder;
        }
      }

      // div {
      //   @include flex-center(wrap);

      //   .imagen {
      //     width: 350px;
      //     height: 350px;
      //   }

      //   p {
      //     width: 680px;
      //     padding-bottom: 30px;
      //     font-weight: bolder;
      //   }
      // }
    }
  }
}

/* .banner-principal, .banner {
    @include flex-center();
  }*/


/*.banner {
  .tipoLetra {
    font-family: $font-default2;
  }

  p {
    font-weight: bolder;
    width: 780px;
  }

  img {
    width: 550px;
  }
}*/


/* .banner {
  h2 {
    padding: 10px;
    padding-bottom: 30px;
    @include flex-center(space-evenly);
  }
  div {
    @include flex-center();
    p {
      width: 350px;
      font-weight: bolder;
    }
    img {
      align-items: center;
     // padding-bottom: 30px;
     // padding-left: 30px;
      padding: 20px;
      width: 550px;
    }
  }*/


  /*************************************************
********Pagina contactenos.html************************
************************************************/

  $bg-color-dark: #2c3e50; // Asumiendo un valor para la variable que no fue proporcionado.
  $font-default2: 'Arial', sans-serif; // Asumiendo un valor para la variable que no fue proporcionado.
  
  #main-contacto {
    background-color: $bg-color-dark;
    padding: 20px 0; // Añadido padding para dar espacio en la parte superior e inferior
    
    h1 {
      font-family: $font-default2;
      font-size: 50px;
      text-align: center;
      margin: 0 0 20px; // Añadido margen para separar del formulario
    }
  
    form {
      max-width: 600px; // Limitando el ancho máximo del formulario
      margin: 0 auto; // Centrando el formulario
  
      @media (max-width: 768px) {
        padding: 0 15px; // Añadiendo un poco de padding en dispositivos pequeños para no pegar al borde
      }
    }
  }
  
/*************************************************
******Fin de pagina contactenos.html************************
************************************************/


/*********************************************************
**********Pagina Equipo **************************
*********************************************************/

#equipo {
  background-color: $bg-color-light;

  div {
    .instalaciones {
      justify-content: space-evenly;
    }
  }
}



/*********************************************************
**********Fin  pagina Equipo**************************
*********************************************************/


/*********************************************************
**********Pagina Instalaciones **************************
*********************************************************/

#main-instalaciones {
  background-color: $bg-color-light;
  padding: 20px 0; // Dar espacio arriba y abajo

  .miClaseImagen {
    height: 400px;
    width: 500px; 
    display: block;
    margin: 0 auto;
    object-fit: cover; 
    padding-top: 15px;
    padding-bottom: 15px;
}


  .brArtificial {
    padding-top: 40px;
    max-width: 100%; 
    font-weight: bolder;
  }
}


/*.brArtificial {
  padding-top: 40px;
  width: 400px;
  height: 400px;
  font-weight: bolder;
}

.centrando {
  justify-content: space-evenly;
}

.miClaseImagen {
  max-width: 600px;
  height: 400px;
  margin-bottom: 20px;
}*/

/*************************************************
********Fin Instalaciones************************
************************************************/


/*************************************************
***********galeria***********************
************************************************/
.grid-container {
  display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  //grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  gap: 1rem;
  margin: 2rem auto;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.319);
}

@each $img,
$url in $image-sizes {
  .#{$img} {
    background-image: url($url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;

    &:hover {
      opacity: 0.8;
      transform: scale(1.05);
      transition: transform 0.3s, opacity 0.3s;
    }
  }
}


@media (max-width: 650px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}


/*************************************************
********footer************************
************************************************/
// .footer {
//   min-height: $footer-height;
//   background-color: $primary-bg-color;
//   align-items: center;

//   div {
//     padding-bottom: 40px;
//     @include flex-center();
//   }

//   ul {
//     @include flex-center();
//     min-height: $footer-height;

//     li {
//       a {
//         img {
//           width: 50px;
//           height: 50px;
//         }
//       }
//     }
//   }
// }
footer {
  background-color: $primary-bg-color;
  color: black;
  padding: 20px 10px;

  .tamano-imagen {
    h5 {
      border-bottom: 2px solid #FFF;
      padding-bottom: 10px;
      text-align: center;
    }

    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      li {
        padding: 10px;

        a {
          text-decoration: none;
          transition: background-color 0.3s, color 0.3s; 

          &:hover {
            background-color: black;
            color: white;
          }

          img {
            width: 50px;
            height: 50px;
            display: block;
            margin: 0 auto;
            transition: transform 0.3s;  

            &:hover {
              transform: scale(1.1);  
            }
          }
        }
      }
    }
  }
}


